#
# '{{ object_name }}' host dependency definition
define hostdependency {
{% for key, value in objects[object_name].iteritems() %}
{% if (value is not string) and (value is not number) %}
    {{ key.rjust(30) }}   {{ value|join(", ") }}
{% else %}
    {{ key.rjust(30) }}   {{ value }}
{% endif %}
{% endfor %}
    }
