#
# '{{ object_name }}' service dependency definition
define servicedependency {
{% for key, value in objects[object_name].iteritems() %}
{% if (value is not string) and (value is not number) %}
    {{ key }}   {{ value|join(", ") }}
{% else %}
    {{ key }}   {{ value }}
{% endif %}
{% endfor %}
    }
